<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Table Style</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>
<nav class="navbar">

	<div class="container">
  
	  <h1 class="logo"><a>0907-14-9445</a></h1>
	  <ul class="nav nav-right">
		<li><a routerLink="/clientes">Clientes</a></li>
		<li><a routerLink="/empleados">Empelados</a></li>
		<li><a></a></li>
		<li><a routerLink="/auth/login">Log Out</a></li>
	  </ul>
	</div>
<body>
<div class="table-title">
<h3>Clientes</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Id</th>	
<th class="text-left">Nombre</th>
<th class="text-left">Direccion</th>
<th class="text-left">Nit</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">1</td>
<td class="text-left">Juan Sanchez</td>
<td class="text-left">Jalapa</td>
<td class="text-left">814634-1</td>
</tr>
<tr>
<td class="text-left">2</td>
<td class="text-left">Rosa Sandoval</td>
<td class="text-left">Jutiapa</td>
<td class="text-left">534634-10</td>
</tr>
<tr>
<td class="text-left">3</td>
<td class="text-left">Mario Solares</td>
<td class="text-left">Jalapa</td>
<td class="text-left">6438034-3</td></tr>
<tr>
<td class="text-left">4</td>
<td class="text-left">Ester Morales</td>
<td class="text-left">Santa Rosa</td>
<td class="text-left">887234-5</td>
</tr>
</tbody>
</table>
  

  </body>
